@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Serif&display=swap');


.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #87BBA2;
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

background {
    height: 725px;
}

body {
    height: 100%;
    background-color: #fcfbfb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url(https://byui-wdd.github.io/wdd130/resources/images/rafting11_1024.jpg);
    min-height: 380px;
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a {
    color: dodgerblue;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: medium;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 5px;
  }


.signin {
   text-align: center; 
   font-size: medium;
   margin-top: 40px;
}

[type="create-account"] {
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
    max-width: 500px;
    padding: 30px;
    background-color: white;
}

input[type=text], input[type=email], input[type=password], input[type=repeat-password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border:color-mix(in hsl shorter hue, color percentage, color percentage);
    background-color: #f6f6f6;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=repeat-password]:focus {
    background-color: #ddd;
    outline: none;
}

.btn {
    font-size: large;
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}


.btn:hover {
    opacity: 1;
}

h2 {
    margin: 0;
}

header {
    background-color: #364958;
    display: grid;
    grid-template-columns: 150px auto;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-title {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #364958;
    margin-top: 10px;
}

h4 {
    color: #364958;
}

.book, .join {
    background-color: #364958;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

 .rivers-card {/*from column lines 2–4 and row lines 2–3 */
    grid-column: 2/4;
    grid-row: 2/3;

 } 

 .camping-card {/* from column lines 5–7 and row lines 2–3 */
    grid-column: 5/7;
    grid-row: 2/3;
 }

 .rapids-card { /* from column lines 8–10 and row lines 2–3 */
    grid-column: 8/10;
    grid-row: 2/3;
 }


 #background {/* from column lines 1–11 and row lines 4–9 */
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
 }
  

 .mountains {/* from column lines 2–7 and row lines 5–8 */
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
 }
 

 .msg { /* from column lines 6–10 and row lines 6–7 */
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
 }


main section img {
    box-sizing: border-box;
}

.book:hover, .join:hover {
    background-color: #364958;
    color: #87BBA2;
}

#background {
    background-color: #364958;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #fcfbfb;
}

.msg p {
    color: #fcfbfb;
    padding-bottom: 15px;
}

footer {
    background-color: #364958;
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding-top: 15px;
}

footer a {
    color: #fcfbfb;
    text-decoration: none;
}

footer a:hover {
    color: #87BBA2;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}


/* Responsive Design */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }


}